@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    list-style: none;
    padding: 0;
    background-color: rgb(90, 202, 42);
}

#menu li {
    display: inline;
}

#menu li a {
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-family: ;
    color: rgb(252, 8, 252);
}

#menu li a:hover {
    background-color: rgb(196, 22, 211);
}

.edit {
    width: 30px;
    height: 40px;
    padding-top: 20px;
}

.titulo {
    border: 2px solid rgb(251, 255, 33);
    color: rgb(105, 4, 9);
    background-color: rgba(255, 152, 9, 0.765);
    justify-content: center;
    border-radius: 10px;
    display: flex;
    font-size: 20px;
    font-family: 'Cinzel', serif;
}

.images {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.container {
    background-color: rgba(0, 0, 0, 0.793);
    color: white;
    display: flex;
    justify-content: center;
    height: 280px;
    padding-top: 110px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer_rodape {
    margin-top: 400px;
    font-family: 'Sassy Frass', cursive;
}

.BITI {
    color: rgb(243, 13, 89);
}

.AR {
    color: rgb(243, 13, 89);
}

.SALVE {
    color: rgb(243, 13, 89);
}

.NOSSO {
    color: rgb(243, 13, 89);
}